@import './animate.scss';
@import './my-style.scss';
@import './solid.scss';

body {
  font-family: 'Cairo', sans-serif;
}
.index {
  background-color: #f5f5f5;
}
.btn,
a,
img,
svg {
  transition: all 0.4s ease-in-out;
}
button {
  cursor: pointer;
}
.btn:active {
  outline: none;
  border: none;
}

.btn:focus,
a:focus {
  outline: 0;
  box-shadow: 0 0 0 0px transparent !important;
}
.primary-color {
  color: #303f9f;
}
.bg-primary-color {
  background-color: #303f9f;
}
.primary-color-hover:hover {
  color: #303f9f;
}
.secondary-color {
  color: #212121;
}
.bg-secondary-color {
  background-color: #212121;
}
.secondary-color-hover:hover {
  color: #212121;
}
.btn {
  background-color: #303f9f !important;
  color: white !important;
  border-radius: 0 !important;
  border-color: transparent !important;
  min-width: 180px !important;
  margin-top: 20px;
  padding: 10px !important;
}
.btn:hover {
  color: white !important;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}
li {
  text-decoration: none;
}

// Contact Modal
.modal {
  padding-top: 20px;
  .modal-header {
    border-bottom: 0;
    padding: 10px;
  }
  .modal-body {
    .logo {
      max-height: 50px;
      margin-bottom: 30px;
    }
  }
  .modal-footer {
    border-top: 0;
  }

  form {
    width: 75%;
    margin: auto;
    @media (max-width: 576px) {
      width: 100%;
    }
  }
  .or {
    background-color: white;
    color: #303f9f;
    font-size: 14px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    margin: 10px auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    padding-top: 5px;
  }
  .form-control {
    height: 50px;
  }
  .links {
    display: flex;
    justify-content: space-between;
  }
  textarea {
    height: 150px !important;
  }
  .message-modal .form-control {
    font-size: 14px;
    height: 43px;
  }
  .message-modal form {
    width: 85%;
  }
}

// Main Title
.title {
  width: 75%;
  margin: 10px auto 30px;

  h2::after {
    content: '';
    display: block;
    height: 4px;
    width: 80px;
    background-color: #303f9f;
    margin: 15px auto;
  }
}

.pagination {
  padding: 0;
}
.page-link {
  color: #303f9f;
}
.page-item:hover .page-link,
.page-item:active .page-link {
  color: white;
  background-color: #303f9f;
}
.image,
figure {
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.image img,
figure img {
  max-width: 100%;
  height: auto;
  transition: all 0.6s ease-in-out;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.warning {
  color: red;
}
.error .form-control {
  border-color: red !important;
  border: solid 1px red !important;
}
.footer-content .warning {
  color: white;
}
.footer-content .error .form-control {
  background-color: rgba(231, 76, 60, 0.5);
}

// /*************** Index ****************/

// /*************** Register ****************/
// .register-first .second a,
// .register-first .third a {
//   cursor: not-allowed;
// }
// .register-first .steps-form .steps-row .first .btn-circle {
//   background-color: #303f9f !important;
//   color: white !important;
// }
// .steps-form .steps-row .second .btn-circle:hover,
// .steps-form .steps-row .third .btn-circle:hover {
//   background-color: white !important;
//   color: #303f9f !important;
// }

// .register-second .second a,
// .register-second .third a {
//   cursor: not-allowed;
// }
// .register-second .steps-form .steps-row .second .btn-circle {
//   background-color: #303f9f !important;
//   color: white !important;
// }
// .steps-form .steps-row .first .btn-circle:hover,
// .steps-form .steps-row .third .btn-circle:hover {
//   background-color: white !important;
//   color: #303f9f !important;
// }

// .register-third .second a,
// .register-third .third a {
//   cursor: not-allowed;
// }
// .register-third .steps-form .steps-row .third .btn-circle {
//   background-color: #303f9f !important;
//   color: white !important;
// }
// .steps-form .steps-row .second .btn-circle:hover,
// .steps-form .steps-row .first .btn-circle:hover {
//   background-color: white !important;
//   color: #303f9f !important;
// }

// .steps-form {
//   width: 2px;
//   height: 436px;
//   position: relative;
// }
// .steps-form svg {
//   font-size: 35px;
//   transition: all 0s ease-in-out;
// }
// form .setup-content .form-control {
//   border: solid 1px #ddd;
// }
// form .setup-content .bootstrap-select > .dropdown-toggle {
//   border: 0;
//   padding: 0;
// }
// form .setup-content .bootstrap-select > .dropdown-toggle:focus {
//   outline: 0 !important;
//   outline-offset: 0 !important;
// }
// .steps-form .steps-row {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -webkit-align-items: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -webkit-flex-direction: column;
//   -ms-flex-direction: column;
//   flex-direction: column;
// }
// .steps-form .steps-row:before {
//   top: 14px;
//   bottom: 0;
//   position: absolute;
//   content: '';
//   width: 2px;
//   height: 100%;
//   background-color: #7283a7;
// }
// .steps-form .steps-row .steps-step {
//   height: 218px;
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
//   text-align: center;
//   position: relative;
// }
// .steps-form .steps-row .steps-step.no-height {
//   height: 50px;
// }
// .steps-form .steps-row .steps-step p {
//   margin-top: 0.5rem;
// }
// .steps-form .steps-row .steps-step button[disabled] {
//   opacity: 1 !important;
//   filter: alpha(opacity=100) !important;
// }
// .steps-form .steps-row .steps-step .btn {
//   background-color: transparent;
//   color: #000;
//   border-radius: 50% !important;
//   border-color: #303f9f;
//   min-width: 10px;
//   padding: 10px;
//   box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
// }
// .steps-form .steps-row .steps-step .btn:active {
//   border-color: transparent;
//   border: 0;
// }
// .steps-form .steps-row .steps-step .btn-circle {
//   width: 60px;
//   height: 60px;
//   background-color: white !important;
//   color: #59698d !important;
//   margin-top: -22px;
// }
// .register .success .icon {
//   width: 80px;
//   height: 80px;
//   border-radius: 50%;
//   margin: 40px auto;
//   background-color: #303f9f;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .register .success .icon svg {
//   font-size: 30px;
//   color: white;
// }
// [type='file'] {
//   filter: alpha(opacity=0);
//   opacity: 0;
//   position: absolute;
// }
// [type='file'] + label {
//   left: 0;
//   top: 0.5em;
//   color: #303f9f;
//   cursor: pointer;
//   position: relative;
//   border-radius: 3px;
//   padding: 10px;
//   width: 100%;
//   font-size: 17px;
//   transition: all 0.4s ease-in-out;
// }
// [type='file'] + label:before {
//   content: '\f093';
//   font-family: FontAwesome;
//   color: #303f9f;
//   margin-left: 5px;
//   transition: all 0.4s ease-in-out;
// }
// /*************** Register ****************/

// /*************** Page ****************/
.page ul li {
  list-style-type: disc;
}
.page img {
  max-width: 100%;
}
// /*************** Page ****************/

// /************** Single-Book **************/
// .single-book .links a.read {
//   background-color: white;
//   border: solid 2px #303f9f;
//   color: #303f9f;
// }
// /************** Single-Book **************/

/************** Cat-Forum **************/
ul.article-info li {
  display: inline;
  font-size: 15px;
}
ul.article-info li svg {
  color: #868e96 !important;
}
ul.article-info li .like svg {
  color: green !important;
}
ul.article-info li .dislike svg {
  color: red !important;
}
/************** Cat-Forum **************/

/************** Comments **************/
.comments .comment .user-img {
  width: 60px;
  height: 60px;
}
.comments .comment .txt {
  width: 85%;
}
.comments .comment .txt p {
  font-size: 15px;
}
.write-comment form {
  width: 80%;
}
.write-comment form textarea {
  height: 150px;
}
/************** Comments **************/

/************** Add-Article **************/
.add-article form textarea {
  height: 130px;
}
/************** Add-Article **************/

// /************** Lawer-details **************/
// .lawyer-details .profile-sec {
//   min-height: 500px;
// }
// .lawyer-details .profile {
//   position: relative;
// }
// .lawyer-details .profile .profile-info {
//   position: absolute;
//   top: 85%;
//   right: 5%;
//   left: 5%;
//   background-color: #f5f5f5;
//   z-index: 3;
//   min-height: 175px;
// }
// .lawyer-details .cover-img {
//   height: 315px;
// }
// .lawyer-details .profile-img {
//   position: absolute;
//   margin-top: -25px;
//   right: 15%;
//   width: 80%;
//   height: 210px;
//   border: solid 5px #f5f5f5;
// }
// .lawyer-details ul.social li a svg {
//   color: #303f9f;
// }
// .lawyer-details .profile-info .text {
//   width: 70%;
// }
// .lawyer-details .profile-info .links {
//   width: 30%;
//   padding-left: 20px;
// }
// .lawyer-details .profile-info .links .btn {
//   min-width: 150px;
// }
// .lawyer-details .content {
//   padding-right: 55px;
//   padding-left: 55px;
// }
// .lawyer-details .video iframe {
//   height: 350px;
//   width: 100%;
// }
// .lawyer-details .lawyers .lawyer figure {
//   width: 35%;
//   height: 191px;
// }
// .lawyer-details .lawyers .lawyer .info {
//   width: 65%;
// }
// .lawyer-details .lawyers .lawyer .info p {
//   font-size: 13px;
//   max-height: 71px;
//   overflow: hidden;
//   margin-bottom: 0;
// }
// .lawyer-details .lawyers .lawyer:hover {
//   border-bottom: solid 2px transparent;
// }
// .rating {
//   border: none;
// }
// .rating > input {
//   display: none;
// }
// .rating > label:before {
//   margin: 2px 5px;
//   font-size: 22px;
//   font-family: FontAwesome;
//   display: inline-block;
//   content: '\f005';
// }
// .rating > .half:before {
//   content: '\f089';
//   position: absolute;
// }
// .rating > label {
//   color: #ddd;
//   float: left;
// }
// /***** CSS Magic to Highlight Stars on Hover *****/
// .rating > input:checked ~ label, /* show gold star when clicked */
// 	.rating:not(:checked) > label:hover, /* hover current star */
// 	.rating:not(:checked) > label:hover ~ label {
//   color: #303f9f;
// } /* hover previous stars in list */

// .rating > input:checked + label:hover, /* hover current star when changing rating */
// 	.rating > input:checked ~ label:hover,
// 	.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
// 	.rating > input:checked ~ label:hover ~ label {
//   color: #303f9f;
// }

// /************** Lawer-details **************/

// /************* Responsive *************/
// @media (max-width: 1024px) {
//   .menu .nav-item {
//     padding-right: 2px;
//     padding-left: 2px;
//   }
//   .intro .search {
//     right: 10%;
//     left: 10%;
//   }
//   .lawyers .lawyer figure {
//     height: 195px;
//   }
//   .testimonials .item figure {
//     width: 100px;
//     height: 100px;
//   }
//   .archive-books figure {
//     height: 310px;
//   }
//   .archive-books figure .overlay {
//     width: 100%;
//   }
// }
// @media (max-width: 768px) {
//   .testimonials .item .content {
//     width: 80%;
//   }
//   .intro .search {
//     right: 5%;
//     left: 5%;
//   }
//   .contact-page .address {
//     margin-bottom: 20px;
//   }
//   .archive-books figure {
//     height: 400px;
//   }
//   .sidebar {
//     margin-top: 30px;
//   }
//   .lawyer-details .cover-img {
//     height: 230px;
//   }
//   .lawyer-details .profile .profile-info {
//     position: relative;
//     background-color: white;
//     min-height: 175px;
//     right: 0;
//     left: 0;
//   }
//   .lawyer-details .profile-img {
//     position: relative;
//     margin-top: -85px;
//     border: 0;
//     right: 0;
//     width: 100%;
//   }
//   .lawyer-details .profile-info .links {
//     padding-left: 0;
//   }
//   .lawyer-details .content {
//     padding-right: initial;
//     padding-left: initial;
//     margin-top: 30px;
//   }
// }
// @media (max-width: 640px) {
//   .title {
//     width: 100%;
//   }
//   .intro .search {
//     top: 23%;
//   }
//   .nav-pills .nav-item {
//     margin: 0 5px 15px;
//   }
//   .lawyers .lawyer figure {
//     height: 205px;
//   }
//   .testimonials .item .content {
//     width: 78%;
//   }
//   .pricing .business .box {
//     transform: scale(1);
//   }
//   .contact-page .map iframe {
//     height: 250px;
//   }
//   .archive-books figure {
//     height: 340px;
//   }
//   .single-book .links {
//     margin-bottom: 30px;
//   }
//   .forum,
//   .cat-forum {
//     margin-left: 15px !important;
//     margin-right: 15px !important;
//   }
//   .forums .item {
//     border-right: 0 !important;
//     margin-bottom: 20px;
//   }
//   .write-comment form {
//     width: 100%;
//   }
//   .lawyer-details .cover-img {
//     height: 180px;
//   }
//   .lawyer-details .profile-img {
//     height: 170px;
//   }
//   .lawyer-details .profile-info .text {
//     width: 100%;
//     float: none !important;
//     text-align: center;
//   }
//   .lawyer-details .profile-info .links {
//     width: 100%;
//     float: none !important;
//     text-align: center !important;
//   }
//   .lawyer-details .profile-info .links .btn {
//     display: inline;
//   }
//   .rating {
//     margin: 10px;
//   }
//   .rating > label {
//     float: none !important;
//   }
// }
// @media (max-width: 480px) {
//   .top-header ul.social,
//   .top-header ul.login {
//     float: none !important;
//     text-align: center;
//     margin-bottom: 5px;
//   }
//   .logo {
//     max-height: 40px;
//   }
//   .intro .search {
//     top: 13%;
//   }
//   .lawyers .lawyer figure {
//     height: 220px;
//   }
//   .testimonials .item figure {
//     width: 90px;
//     height: 90px;
//   }
//   .contact .map iframe {
//     width: 100%;
//     height: 310px;
//     margin-bottom: 0;
//   }
//   .modal form {
//     width: 80%;
//   }
//   .archive-books figure {
//     height: 400px;
//   }
// }
// @media (max-width: 360px) {
//   .intro .search {
//     top: 10%;
//     right: 0;
//     left: 0;
//   }
//   .intro .search h2 {
//     font-size: 30px;
//   }
//   .nav-pills .nav-item {
//     margin: 0 4px 15px;
//   }
//   .owl-demo .item {
//     text-align: center;
//   }
//   .testimonials .item figure {
//     width: 100px;
//     height: 100px;
//     float: none !important;
//     margin: 10px auto;
//   }
//   .testimonials .item .content {
//     width: 100%;
//   }
//   .modal form {
//     width: 100%;
//   }
//   .pricing .business .box {
//     padding: 20px !important;
//   }
//   .comments .comment .txt {
//     width: 80%;
//   }
//   .lawyer-details .profile-img {
//     border: 0;
//     right: 0;
//     left: auto;
//     text-align: center;
//     width: 55%;
//     margin: -122px auto 5px;
//     height: 144px;
//   }
//   .lawyer-details .profile-info .links .btn {
//     display: block;
//   }
//   .lawyer-details .video iframe {
//     height: 220px;
//   }
//   .lawyer-details .lawyers .lawyer figure,
//   .lawyer-details .lawyers .lawyer .info {
//     width: 100%;
//     float: none !important;
//   }
// }
// /************* Responsive *************/
